version: "3.8"
services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    restart: always
    environment:
      # Add any production environment variables here if needed
      - ENV=production

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "80:80"
    restart: always
